.icon {
  color: var(--text-color-light);
}
.menu {
  background-color: var(--backgound-1);
  color: var(--text-color-light);
  border-bottom: 1px solid var(--border-color);
  border-bottom: solid 1px var(--border-color);
  display: flex;
  flex-direction: row;
  padding: calc(var(--pading) / 4) 0;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.menuLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) / 2);
}
.name {
  border-right: solid 1px var(--border-color);
  cursor: pointer;
}
.menuLogo > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  height: 100%;
  padding: 0 var(--pading);
  border-right: solid 1px var(--border-color);
  cursor: pointer;
}
.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--pading);
  cursor: pointer;
  transition: all 0.3s ease;
}
.logout:hover {
  scale: 1.2;
}
.logout::hover {
  color: var(--text-color-titles);
}
.user {
  transition: all 0.3s ease;
  cursor: pointer;
}
.user:hover {
  scale: 1.2;
}

.icon {
  transition: all 0.3s ease;
}

.list ul {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  margin-left: calc(var(--pading) * 2);
  color: var(--backgound-1);
  z-index: 10;
}
.list ul li {
  font-size: var(--font-size-small);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--backgound-1);
  gap: var(--gap);
  display: flex;
  flex-direction: row;
  transform: none !important;
}
.icon {
  padding-right: calc(var(--pading) / 2);
}
a {
  text-decoration: none;
  color: var(--primary-dark);
}
.active {
  color: var(--primary-light);
  border-bottom: solid 1px var(--primary-light);
}
.footer {
  border-top: solid 1px var(--border-color);
  font-size: var(--font-size-smaller);
  position: absolute;
  bottom: 0;
}

.left {
  display: flex;
}
@media screen and (max-width: 600px) {
  .list ul {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--primary-base);
    flex-direction: column;
    padding: var(--pading);
    transform: translatex(0%);
    height: 100vh;
    transition: 200ms ease-in-out;
    margin-left: 0;
  }
  a {
    text-decoration: none;
    color: var(--backgound-1);
  }
  .side {
    transform: translatex(-100%) !important;
    color: var(--backgound-1);
  }
}
@media screen and (max-width: 375px) {
  /* .list ul {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-base);
    flex-direction: column;
    padding: var(--pading);
    transform: translatex(0%);
    height: 100%;
    transition: 200ms ease-in-out;
    margin-top: 10%;
  } */
  a {
    text-decoration: none;
    color: var(--backgound-1);
  }
  /* .side {
    transform: translatex(-100%) !important;
    color: var(--backgound-1);
  } */
}
