.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: calc(var(--pading) / 2) var(--pading);
  color: var(--backgound-1);
  flex-wrap: wrap;
  background-color: var(--primary-darker);
  border-radius: var(--border-radius);
  position: relative;
  transition: 200ms ease-in-out;
  height: 100%;
  border: solid 1px var(--primary-darker);
} 

.container:hover {
  scale: 1;
}
.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 85%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: var(--backgound-1);
  transition: 300ms ease-in-out;
  border-radius :  0 var(--border-radius) var(--border-radius) 0;
}
.container:hover.container::after {
  width: 15%;
}

.container:hover .content div {
  color: var(--primary-darker);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.content div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  margin-bottom: calc(var(--pading) / 2);
  gap: var(--gap);
  transition: 200ms ease-in-out;
}
.content h5 {
  border-bottom: solid 1px var(--backgound-1);
}
.content h6 {
  padding: 0;
}
