.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  gap: var(--gap);
}
.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 98%;
  height: fit-content;
  flex-wrap: wrap;
  gap: var(--gap);
  border: solid 1px var(--border-color);
  padding: var(--pading);
  border-radius: var(--border-radius);
  margin: var(--pading) 0;
}
.formInformation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--primary-darker);
  border-bottom: solid 1px var(--border-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: var(--text-color-body);
  padding: calc(var(--pading)) var(--pading);
  white-space: nowrap;
  text-overflow: ellipsis;
  height: fit-content;
}
.formInformation .data {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 80%;
  justify-content: flex-start;
  gap: var(--gap);
}
.schoolInformation {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: calc(var(--pading) / 4) calc(var(--pading) / 2);
  gap: var(--gap);
  color: var(--backgound-1);
  border: solid 1px var(--backgound-1);
  border-radius: var(--border-radius);
  /* background-color: var(--backgound-1); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  transition: all 400ms ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schoolInformation:hover {
  color: var(--primary-darker);
}
.schoolInformation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--backgound-1);
}
.schoolInformation:hover::before {
  animation-name: example;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes example {
  form {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.schoolInformation h5,
h6 {
  z-index: 2;
}
.schoolInformation h6 {
  padding: 0;
  border-bottom: solid 1px var(--border-color);
}
.issue {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.issueCheck {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: var(--primary-darker);
  padding: calc(var(--pading) / 4) var(--pading);
  border-radius: var(--border-radius);
  color: var(--text-color-placeholder);
}

.row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--gap);
  justify-content: center;
  background-color: var(--primary-dark);
  color: var(--backgound-1);
  padding: calc(var(--pading) / 4) var(--pading);
  border-radius: var(--border-radius);
}
/* .title{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: var(--gap);
  width: 80%;
  
} */

.response {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--gap);
  color: var(--text-color-body);
  margin-bottom: var(--pading);
}
.response .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}
.response form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--gap);
}
.response form textarea {
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  text-align: right;
  font-family: 'Cairo', sans-serif;
  font-size: var(--font-size-standard);
  min-height: 100px;
  height: fit-content;
  padding: calc(var(--pading) / 4) var(--pading);
}
.response form textarea:focus {
  outline: none;
  border: solid 1px var(--primary-dark);
}
.response form button {
  width: 10%;
}
.response p {
  width: 100%;
  text-align: right;
  font-family: 'Cairo', sans-serif;
  font-size: var(--font-size-standard);
  height: fit-content;
  padding: calc(var(--pading) / 4) var(--pading);
}

@media screen and (max-width: 850px) {
  .formInformation {
    flex-direction: column;
    gap: var(--gap);
  }
  .formInformation .data {
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .issue {
    justify-content: center;
  }
  .response form button {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .formInformation .data {
    flex-direction: column;
    gap: var(--gap);
  }
}

.toast-message {
  background: darkblue;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  color: brown;
}
