body {
  font-family: 'Cairo', sans-serif;
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}
input {
  all: unset;
}
/* variables */
:root {
  --backgound-1: #ffffff;
  --backgound-2: #f8f9fa;
  --primary-darker: #182938;
  --primary-dark: #374e63;
  --primary-base: #617586;
  --primary-light: #8b9caa;
  --text-color-titles: #1f2c38;
  --text-color-body: #2c3c4b;
  --text-color-light: #5d7386;
  --text-color-placeholder: #8b9caa;
  --pading: 1rem;
  --gap: 1rem;
  --btn-color: #1290ff;
  --border-radius: 0.25rem;
  --border-color: #3361753a;
}

/* text style  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2.3rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.2rem;
  font-weight: 700;
}
h5 {
  font-size: 1rem;
  font-weight: 700;
}
h6 {
  font-size: 0.8rem;
  font-weight: 700;
}

.big-text {
  font-size: 4.625rem;
  font-weight: 400;
}

.standart-text {
  font-size: 1rem;
  font-weight: 400;
}
.small-text {
  font-size: 0.875rem;
  font-weight: 400;
}

.smaller-text {
  font-size: 0.75rem;
  font-weight: 400;
}
.input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
}
label {
  font-size: 0.875rem;
  color: var(--text-color-light);
  justify-content: flex-end;
  /* need to make this in right side */
  text-align: right;
}
input[type='text'] {
  font-size: 0.9rem;
  color: var(--text-color-body);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  text-align: right;
  padding: 0 var(--pading);
  background-color: var(--backgound-1);
}

input[type='text']::placeholder {
  font-size: 1rem;
  color: var(--text-color-placeholder);
}
input[type='number'] {
  font-size: 0.9rem;
  color: var(--text-color-body);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  text-align: flex-end;
  background-color: var(--backgound-1);
  width: 5rem;
  padding: 0 calc(var(--pading) / 2);
}
input[type='number']::placeholder {
  font-size: 0.9rem;
  color: var(--text-color-body);

  border-radius: var(--border-radius);
  text-align: flex-end;
  background-color: var(--backgound-1);
  width: 5rem;
}
input[type='checkbox' i] {
  appearance: auto;
  margin: 3px 3px 3px 4px;
  width: 20px;
  height: 20px;
  padding: var(--pading);
  border: solid 1px var(--border-color);
}

/* small tablet styles */
@media screen and (min-width: 200px) {
  body {
    font-size: 16px;
  }
  html {
    font-size: 16px;
  }
  /* button style have a 2 style one is btn and btn-outline */

  .btn {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--backgound-1);
    background-color: var(--btn-color);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn:hover {
    background-color: var(--backgound-1);
    color: var(--btn-color);
    scale: 1.05;
  }
  .btn-outline {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--btn-color);
    background-color: var(--backgound-1);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn-outline:hover {
    background-color: var(--btn-color);
    color: var(--backgound-1);
    scale: 1.05;
  }
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  html {
    font-size: 18px;
  }
  /* button style have a 2 style one is btn and btn-outline */

  .btn {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--backgound-1);
    background-color: var(--btn-color);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn:hover {
    background-color: var(--backgound-1);
    color: var(--btn-color);
    scale: 1.05;
  }
  .btn-outline {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--btn-color);
    background-color: var(--backgound-1);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn-outline:hover {
    background-color: var(--btn-color);
    color: var(--backgound-1);
    scale: 1.05;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
  html {
    font-size: 20px;
  }
  /* button style have a 2 style one is btn and btn-outline */

  .btn {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 8px 16px;
    color: var(--backgound-1);
    background-color: var(--btn-color);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn:hover {
    background-color: var(--backgound-1);
    color: var(--btn-color);
    scale: 1.05;
  }
  .btn-outline {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--btn-color);
    background-color: var(--backgound-1);
    border-radius: 0.25rem;
    border: solid 1px var(--btn-color);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  .btn-outline:hover {
    background-color: var(--btn-color);
    color: var(--backgound-1);
    scale: 1.05;
  }
}
